body
{
	background: black;
	color: white;
	padding-top: 12px;
	padding-left: 8px;
	padding-right: 8px;
	font-family: "Lucida Console", "Courier New", Monospace;
}

#text
{
	visibility: visible;
	padding-left: 4px;
}

#square
{
	padding-top: 5px;
	visibility: visible;
	width: 8px;
  height: 15px;
  position: absolute;
  background: white;
}

